{% block content %}
  <section class="all-in-one">
    <div class="all-in-one__wrap">
      <h2>Все услуги<br> в одной клинике</h2>
      <p>от диагностики до восстановления зуба “под ключ”</p>
      <span>Этапы:</span>
      <div class="all-in-one__graph"></div>
      <div class="all-in-one__graph-up"></div>
      <div class="all-in-one__graph-down"></div>
    </div>
  </section>
{% endblock %}
