{% block content %}
  <section class="faq">
    <div class="faq__wrap">
      <div class="faq__wrap-questions">
        <h2>Частые вопросы клиентов</h2>
        <ul class="faq__question">
          <li class="faq__question-item">
            <h3>Консультация и план лечения бесплатны?</h3>
            <div class="faq__question-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, cum doloremque est, exercitationem ipsum itaque iure laboriosam magni minima neque nulla omnis possimus praesentium
                quia
                quidem quo soluta vero voluptates.</p>
            </div>
          </li>
          <li class="faq__question-item">
            <h3>Как вы соблюдаете стерильность?</h3>
            <div class="faq__question-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, cum doloremque est, exercitationem ipsum itaque iure laboriosam magni minima neque nulla omnis possimus praesentium
                quia
                quidem quo soluta vero voluptates.</p>
            </div>
          </li>
          <li class="faq__question-item">
            <h3>Как вы устраняете боль?</h3>
            <div class="faq__question-content">
              <p>Равным образом рамки и место обучения кадров позволяет оценить значение модели развития.<br> Не следует,<br class="faq__question-br"> однако забывать, что рамки и место обучения
                кадров влечет<br class="faq__question-br"> за собой процесс
                внедрения
                новых предложений.</p>
            </div>
          </li>
          <li class="faq__question-item">
            <h3>У вас опытные врачи?</h3>
            <div class="faq__question-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, cum doloremque est, exercitationem ipsum itaque iure laboriosam magni minima neque nulla omnis possimus praesentium
                quia
                quidem quo soluta vero voluptates.</p>
            </div>
          </li>
          <li class="faq__question-item">
            <h3>А с детьми вы работаете?</h3>
            <div class="faq__question-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, cum doloremque est, exercitationem ipsum itaque iure laboriosam magni minima neque nulla omnis possimus praesentium
                quia
                quidem quo soluta vero voluptates.</p>
            </div>
          </li>
          <li class="faq__question-item">
            <h3>А даёте ли вы какие-нибудь гарантии?</h3>
            <div class="faq__question-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, cum doloremque est, exercitationem ipsum itaque iure laboriosam magni minima neque nulla omnis possimus praesentium
                quia
                quidem quo soluta vero voluptates.</p>
            </div>
          </li>
        </ul>
      </div>
      <form action="#" method="post" class="form-faq">
        <div class="form-faq__wrap">
          <h2>Есть дополнительные вопросы?</h2>
          <p>Оставьте контакты и мы перезвоним Вам:</p>
          <ul class="form-faq__list">
            <li class="form-faq__item">
              <label for="faq-name"></label>
              <input type="text" name="name" id="faq-name" placeholder="Ваше имя" required>
            </li>
            <li class="form-faq__item">
              <label for="faq-tel"></label>
              <input type="tel" name="tel" id="faq-tel" placeholder="Ваш номер телефона" required>
            </li>
          </ul>
          <button class="form-faq__btn button" type="submit" aria-label="Кнопка для отправки формы для записи"><span class="form-faq__sp1">Записаться</span><span class="form-faq__sp2">Закакзать звонок</span></button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
