{% block content %}
  <div class="footer-page__wrap">
    <div class="footer-page__logo-wrap">
      <a class="footer-page__logo">
        <picture>
          <source type="image/webp" media="(min-width: 320px)" srcset="img/footer-logo-mob@1x.webp 1x, img/footer-logo-mob@2x.webp 2x">
          <source type="image/webp" srcset="img/footer-logo@1x.webp 1x, img/footer-logo@2x.webp 2x">
          <img src="img/footer-logo@1x.png" srcset="img/footer-logo@1x.png 1x, img/footer-logo@2x.png 2x" width="270" height="101" alt="Логотип сайта Элит Дент" class="footer-page__logo-img">
        </picture>
      </a>
      <a href="#" class="footer-page__confidential">Политика конфиденциальности</a>
    </div>
    <div class="footer-page__nav nav-footer">
      <ul class="nav-footer__list">
        <li class="nav-footer__item">
          <h3>Услуги</h3>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Терапевтическая стоматология</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Протезирование</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Имплантация зубов</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Ортодонтия</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Хирургия</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Детская Стоматология</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Исправление прикуса</a>
        </li>
      </ul>
      <ul class="nav-footer__list">
        <li class="nav-footer__item">
          <h3>Компания</h3>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Главная</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Услуги</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Акция</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Врачи</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Вопросы и ответы</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">Примеры работ</a>
        </li>
      </ul>
      <div class="nav-footer__mixed">
        <a href="tel:79857650907" class="nav-footer__phone-link">+7 (985) 765-09-07</a>
        <div class="nav-footer__social social-footer">
          <a href="#" class="social-footer__link" aria-label="Ссылка соц сети Ватсап">
            <svg class="social-footer__icon" width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="img/sprite_auto.svg#icon-whatsup"></use>
            </svg>
          </a>
          <a href="#" class="social-footer__link" aria-label="Ссылка соц сети Фейсбук">
            <svg class="social-footer__icon" width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="img/sprite_auto.svg#icon-facebook"></use>
            </svg>
          </a>
          <a href="#" class="social-footer__link" aria-label="Ссылка соц сети Вконтакте">
            <svg class="social-footer__icon" width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="img/sprite_auto.svg#icon-vk"></use>
            </svg>
          </a>
          <a href="#" class="social-footer__link" aria-label="Ссылка соц сети Инстаграм">
            <svg class="social-footer__icon" width="30" height="30" viewBox="0 0 30 30">
              <use xlink:href="img/sprite_auto.svg#icon-insta"></use>
            </svg>
          </a>
        </div>
        <a href="#" class="nav-footer__developers">Разработали с любовью<br> AS AGENCY</a>
      </div>
    </div>
  </div>
{% endblock %}
