{% block content %}
  <section class="healthy-teeth">
    <div class="healthy-teeth__wrap">
      <h2>Здоровые зубы<br> и красивые улыбки</h2>
      <p>наших счастливых клиентов</p>
      <div class="healthy-teeth__container">
        <div class="healthy-teeth__list-wrap">
          <div class="healthy-teeth__item-slide">
            <picture>
              <source type="image/webp" srcset="img/img-iphone1@1x.webp 1x, img/img-iphone1@2x.webp 2x">
              <img src="../img/img-iphone1@1x.png" srcset="img/img-iphone1@1x.png 1x, img/img-iphone1@2x.png 2x" width="204" height="435" alt="Фото с клиентом" class="healthy-teeth__img">
            </picture>
          </div>
          <div class="healthy-teeth__item-slide">
            <picture>
              <source type="image/webp" srcset="img/img-iphone2@1x.webp 1x, img/img-iphone2@2x.webp 2x">
              <img src="../img/img-iphone2@1x.png" srcset="img/img-iphone2@1x.png 1x, img/img-iphone2@2x.png 2x" width="268" height="572" alt="Фото клиента" class="healthy-teeth__img">
            </picture>
          </div>
          <div class="healthy-teeth__item-slide">
            <picture>
              <source type="image/webp" srcset="img/img-iphone1@1x.webp 1x, img/img-iphone1@2x.webp 2x">
              <img src="../img/img-iphone1@1x.png" srcset="img/img-iphone1@1x.png 1x, img/img-iphone1@2x.png 2x" width="204" height="435" alt="Фото с клиентом" class="healthy-teeth__img">
            </picture>
          </div>
          <div class="healthy-teeth__item-slide">
            <picture>
              <source type="image/webp" srcset="img/img-iphone1@1x.webp 1x, img/img-iphone1@2x.webp 2x">
              <img src="../img/img-iphone1@1x.png" srcset="img/img-iphone1@1x.png 1x, img/img-iphone1@2x.png 2x" width="204" height="435" alt="Фото с клиентом" class="healthy-teeth__img">
            </picture>
          </div>
          <div class="healthy-teeth__item-slide">
            <picture>
              <source type="image/webp" srcset="img/img-iphone2@1x.webp 1x, img/img-iphone2@2x.webp 2x">
              <img src="../img/img-iphone2@1x.png" srcset="img/img-iphone2@1x.png 1x, img/img-iphone2@2x.png 2x" width="268" height="572" alt="Фото клиента" class="healthy-teeth__img">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
