{% block content %}
<section class="intro">
  <div class="intro__wrap">
    <div class="intro__text-wrap">
      <h1> Мы лечим зубы <span>без боли и стресса</span></h1>
      <p>в Московской стоматологии фиксированных цен “ЭлитДент”</p>
      <span><strong>Получите план лечения зубов</strong> со сроками и стоимостью</span>
    </div>
    <button class="intro__btn button" type="button">Узнать сроки и цены</button>
  </div>
</section>
{% endblock %}
