{% block content %}
    <a class="main-header__logo">
      <picture>
        <source media="(min-width: 1440px)" srcset="img/header-logo.svg">
        <img src="img/header-logo.svg" width="315" height="49" alt="Логотип сайта Элит Дент" class="main-header__logo-img">
      </picture>
    </a>
{% endblock %}
