{% block content %}
  <div class="modal-form-call">
    <form action="#" method="post" class="modal-form-call__call">
      <h2>Заказать бесплатный звонок</h2>
      <p>Заполните форму, наш менеджер свяжется с Вами</p>
      <ul class="modal-form-call__list">
        <li class="modal-form-call__item">
          <svg class="modal-form-call__icon" width="13" height="14" viewBox="0 0 30 30">
            <use xlink:href="img/sprite_auto.svg#icon-user"></use>
          </svg>
          <label for="call-name"></label>
          <input type="text" name="get-plan-name" id="call-name" placeholder="Введите Ваше имя" required>
        </li>

        <li class="modal-form-call__item">
          <svg class="modal-form-call__icon" width="13" height="13" viewBox="0 0 30 30">
            <use xlink:href="img/sprite_auto.svg#icon-form-phone"></use>
          </svg>
          <label for="call-tel"></label>
          <input type="tel" name="call-tel" pattern="7[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" id="call-tel" placeholder="+7 (927) 123-45-67" value="" maxlength="20">
        </li>
      </ul>
      <button class="modal-form-call__button button" type="submit" aria-label="Кнопка для отправки формы">Заказать <span>бесплатный</span> звонок</button>
      <button class="modal-form-call__toggle" type="button" aria-label="Модальное окно"></button>
    </form>
  </div>
{% endblock %}
