{% block content %}
  <div class="main-header__nav main-header__nav--nojs nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Акция</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Врачи</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Вопросы и ответы</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Примеры работ</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
    </ul>
    <div class="nav__phone-wrap">
      <a href="tel:79857650907" class="nav__phone-link">+7 (985) 765-09-07</a>
      <a href="#" class="nav__link-form">Заказать бесплатный звонок</a>
    </div>
    <div class="nav__menu-social social">
      <a href="#" class="social__link" aria-label="Ссылка соц сети Ватсап">
        <svg class="social__icon" width="51" height="51">
          <use xlink:href="img/sprite_auto.svg#icon-whatsup_menu"></use>
        </svg>
      </a>
      <a href="#" class="social__link" aria-label="Ссылка соц сети Фейсбук">
        <svg class="social__icon" width="52" height="51">
          <use xlink:href="img/sprite_auto.svg#icon-fb_menu"></use>
        </svg>
      </a>
      <a href="#" class="social__link" aria-label="Ссылка соц сети Вконтакте">
        <svg class="social__icon" width="52" height="51">
          <use xlink:href="img/sprite_auto.svg#icon-vk_menu"></use>
        </svg>
      </a>
      <a href="#" class="social__link" aria-label="Ссылка соц сети Инстаграм">
        <svg class="social__icon" width="51" height="51">
          <use xlink:href="img/sprite_auto.svg#icon-insta_menu"></use>
        </svg>
      </a>
    </div>
  </div>
  <button class="main-header__toggle" type="button" aria-label="Мобильное меню"></button>
{% endblock %}
