{% block content %}
  <section class="our-services">
    <div class="our-services__wrap">
      <h2>Все наши услуги</h2>
      <ul class="our-services__list">
        <li class="our-services__item our-services__item&#45;&#45;dentistry">
          <h3>Терапевтическая стоматология</h3>
          <p>Лечение кариеса Лечение пульпита Лечение периодонтита</p>
        </li>
        <li class="our-services__item our-services__item&#45;&#45;teeth">
          <h3>Имплантация зубов</h3>
          <p>Тотальная имплантация Одномоментная имплантация<br> All-on-4 (все зубы на 4 имплантах) </p>
        </li>
        <li class="our-services__item our-services__item&#45;&#45;child">
          <h3>Детская стоматология</h3>
          <p>Герметизация фиссур Лечение кариеса молочных зубов </p>
        </li>
        <li class="our-services__item  our-services__item&#45;&#45;orthopedics">
          <h3>Ортопедия</h3>
          <p>Съемное, несъёмное протезирование<br> Металлокерамические коронки<br> Безметалловая керамика</p>
        </li>
        <li class="our-services__item our-services__item&#45;&#45;surgery">
          <h3>Хирургия</h3>
          <p>Удаление зуба Синус-лифтинг Костная пластика</p>
        </li>
        <li class="our-services__item our-services__item&#45;&#45;orthodontics">
          <h3>Ортодонтия</h3>
          <p>Исправление прикуса с помощью брекет-системы Тренеры, пластинки</p>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
