{% block content %}
	<section class="our-doctors">
		<div class="our-doctors__wrap">
			<h2>Наши врачи</h2>
			<div class="our-doctors__container-wrap">
				<div class="our-doctors__container-mini">
					<div class="our-doctors__list-mini-wrap our-doctors__list-wrap&#45;&#45;mini">
						<div class="our-doctors__item-slide-wrap our-doctors__item-slide-wrap--doc1">
							<h3>Имя Фамилия</h3>
							<div class="our-doctors__item-slide">
								<picture>
									<source type="image/webp" srcset="img/img-badge-slider-mob@1x.webp 1x, img/img-badge-slider-mob@1x.webp 2x">
									<img src="../img/img-badge-slider-mob@1x.png" srcset="img/img-badge-slider-mob@1x.png 1x, img/img-badge-slider-mob@2x.png 2x" width="65" height="76" alt="Значок врача"
														class="our-doctors__img">
								</picture>
							</div>
							<p><span>Имя Фамилия</span> стоматолог-ортопед опыт работы: <span>8</span> лет</p>
						</div>
						<div class="our-doctors__item-slide-wrap our-doctors__item-slide-wrap--doc2">
							<h3>Зелим Хаманаев</h3>
							<div class="our-doctors__item-slide">
								<picture>
									<source type="image/webp" srcset="img/img-badge-slider2@2x.webp 1x, img/img-badge-slider2@2x.webp 2x">
									<img src="../img/img-badge-slider2@1x.png" srcset="img/img-badge-slider2@1x.png 1x, img/img-badge-slider2@2x.png 2x" width="67" height="74" alt="Значок врача"
														class="our-doctors__img">
								</picture>
							</div>
							<p><span>Зелим Хаманаев</span> стоматолог-ортопед опыт работы: <span>8</span> лет</p>
						</div>
						<div class="our-doctors__item-slide-wrap our-doctors__item-slide-wrap--doc3">
							<h3>Имя Фамилия</h3>
							<div class="our-doctors__item-slide">
								<picture>
									<source type="image/webp" srcset="img/img-badge-slider1@1x.webp 1x, img/img-badge-slider1@2x.webp 2x">
									<img src="../img/img-badge-slider1@1x.png" srcset="img/img-badge-slider1@1x.png 1x, img/img-badge-slider1@2x.png 2x" width="67" height="74" alt="Значок врача"
														class="our-doctors__img">
								</picture>
							</div>
							<p><span>Имя Фамилия</span> стоматолог-ортопед опыт работы: <span>8</span> лет</p>
						</div>
						<div class="our-doctors__item-slide-wrap our-doctors__item-slide-wrap--doc4">
							<h3>Имя Фамилия</h3>
							<div class="our-doctors__item-slide">
								<picture>
									<source type="image/webp" srcset="img/img-badge-slider3@1x.webp 1x, img/img-badge-slider3@2x.webp 2x">
									<img src="../img/img-badge-slider3@1x.png" srcset="img/img-badge-slider3@1x.png 1x, img/img-badge-slider3@2x.png 2x" width="67" height="76" alt="Значок врача"
														class="our-doctors__img">
								</picture>
							</div>
							<p><span>Имя Фамилия</span> стоматолог-ортопед опыт работы: <span>8</span> лет</p>
						</div>

						<div class="our-doctors__item-slide-wrap our-doctors__item-slide-wrap--doc1">
							<h3>Имя Фамилия</h3>
							<div class="our-doctors__item-slide">
								<picture>
									<source type="image/webp" srcset="img/img-badge-slider-mob@1x.webp 1x, img/img-badge-slider-mob@1x.webp 2x">
									<img src="../img/img-badge-slider-mob@1x.png" srcset="img/img-badge-slider-mob@1x.png 1x, img/img-badge-slider-mob@2x.png 2x" width="65" height="76" alt="Значок врача"
														class="our-doctors__img">
								</picture>
							</div>
							<p><span>Имя Фамилия</span> стоматолог-ортопед опыт работы: <span>8</span> лет</p>
						</div>
						<div class="our-doctors__item-slide-wrap our-doctors__item-slide-wrap--doc2">
							<h3>Зелим Хаманаев</h3>
							<div class="our-doctors__item-slide">
								<picture>
									<source type="image/webp" srcset="img/img-badge-slider2@2x.webp 1x, img/img-badge-slider2@2x.webp 2x">
									<img src="../img/img-badge-slider2@1x.png" srcset="img/img-badge-slider2@1x.png 1x, img/img-badge-slider2@2x.png 2x" width="67" height="74" alt="Значок врача"
														class="our-doctors__img">
								</picture>
							</div>
							<p><span>Зелим Хаманаев</span> стоматолог-ортопед опыт работы: <span>8</span> лет</p>
						</div>
						<div class="our-doctors__item-slide-wrap our-doctors__item-slide-wrap--doc3">
							<h3>Имя Фамилия</h3>
							<div class="our-doctors__item-slide">
								<picture>
									<source type="image/webp" srcset="img/img-badge-slider1@1x.webp 1x, img/img-badge-slider1@2x.webp 2x">
									<img src="../img/img-badge-slider1@1x.png" srcset="img/img-badge-slider1@1x.png 1x, img/img-badge-slider1@2x.png 2x" width="67" height="74" alt="Значок врача"
														class="our-doctors__img">
								</picture>
							</div>
							<p><span>Имя Фамилия</span> стоматолог-ортопед опыт работы: <span>8</span> лет</p>
						</div>
						<div class="our-doctors__item-slide-wrap our-doctors__item-slide-wrap--doc4">
							<h3>Имя Фамилия</h3>
							<div class="our-doctors__item-slide">
								<picture>
									<source type="image/webp" srcset="img/img-badge-slider3@1x.webp 1x, img/img-badge-slider3@2x.webp 2x">
									<img src="../img/img-badge-slider3@1x.png" srcset="img/img-badge-slider3@1x.png 1x, img/img-badge-slider3@2x.png 2x" width="67" height="76" alt="Значок врача"
														class="our-doctors__img">
								</picture>
							</div>
							<p><span>Имя Фамилия</span> стоматолог-ортопед опыт работы: <span>8</span> лет</p>
						</div>
					</div>
				</div>
				<div class="our-doctors__container-big">
					<div class="our-doctors__list-big-wrap our-doctors__list-wrap&#45;&#45;big">
						<div class="our-doctors__item-slide-big">
							<picture>
								<source type="image/webp" srcset="img/img-slider-mob4@1x.webp 1x, img/img-slider-mob4@2x.webp 2x">
								<source type="image/webp" srcset="img/img-slider4@1x.webp 1x, img/img-slider4@1x.webp 2x">
								<img src="../img/img-slider4@1x.png" srcset="img/img-slider4@1x.png 1x, img/img-slider4@2x.png 2x" width="502" height="461" alt="Фото врача" class="our-doctors__img-big">
							</picture>
						</div>
						<div class="our-doctors__item-slide-big">
							<picture>
								<source type="image/webp" srcset="img/img-slider-mob2@1x.webp 1x, img/img-slider-mob2@1x.webp 2x">
								<source type="image/webp" srcset="img/img-slider2@2x.webp 1x, img/img-slider2@2x.webp 2x">
								<img src="../img/img-slider2@1x.png" srcset="img/img-slider2@1x.png 1x, img/img-slider2@2x.png 2x" width="479" height="520" alt="Фото врача" class="our-doctors__img-big">
							</picture>
						</div>
						<div class="our-doctors__item-slide-big">
							<picture>
								<source type="image/webp" srcset="img/img-slider-mob3@1x.webp 1x, img/img-slider-mob3@2x.webp 2x">
								<source type="image/webp" srcset="img/img-slider3@1x.webp 1x, img/img-slider3@2x.webp 2x">
								<img src="../img/img-slider3@1x.png" srcset="img/img-slider3@1x.png 1x, img/img-slider3@2x.png 2x" width="459" height="461" alt="Фото врача" class="our-doctors__img-big">
							</picture>
						</div>
						<div class="our-doctors__item-slide-big">
							<picture>
								<source type="image/webp" srcset="img/img-slider-mob1@1x.webp 1x, img/img-slider-mob1@2x.webp 2x">
								<source type="image/webp" srcset="img/img-slider1@1x.webp 1x, img/img-slider1@2x.webp 2x">
								<img src="../img/img-slider1@1x.png" srcset="img/img-slider1@1x.png 1x, img/img-slider1@2x.png 2x" width="465" height="453" alt="Фото врача" class="our-doctors__img-big">
							</picture>
						</div>

						<div class="our-doctors__item-slide-big">
							<picture>
								<source type="image/webp" srcset="img/img-slider-mob4@1x.webp 1x, img/img-slider-mob4@2x.webp 2x">
								<source type="image/webp" srcset="img/img-slider4@1x.webp 1x, img/img-slider4@1x.webp 2x">
								<img src="../img/img-slider4@1x.png" srcset="img/img-slider4@1x.png 1x, img/img-slider4@2x.png 2x" width="502" height="461" alt="Фото врача" class="our-doctors__img-big">
							</picture>
						</div>
						<div class="our-doctors__item-slide-big">
							<picture>
								<source type="image/webp" srcset="img/img-slider-mob2@1x.webp 1x, img/img-slider-mob2@1x.webp 2x">
								<source type="image/webp" srcset="img/img-slider2@2x.webp 1x, img/img-slider2@2x.webp 2x">
								<img src="../img/img-slider2@1x.png" srcset="img/img-slider2@1x.png 1x, img/img-slider2@2x.png 2x" width="479" height="520" alt="Фото врача" class="our-doctors__img-big">
							</picture>
						</div>
						<div class="our-doctors__item-slide-big">
							<picture>
								<source type="image/webp" srcset="img/img-slider-mob3@1x.webp 1x, img/img-slider-mob3@2x.webp 2x">
								<source type="image/webp" srcset="img/img-slider3@1x.webp 1x, img/img-slider3@2x.webp 2x">
								<img src="../img/img-slider3@1x.png" srcset="img/img-slider3@1x.png 1x, img/img-slider3@2x.png 2x" width="459" height="461" alt="Фото врача" class="our-doctors__img-big">
							</picture>
						</div>
						<div class="our-doctors__item-slide-big">
							<picture>
								<source type="image/webp" srcset="img/img-slider-mob1@1x.webp 1x, img/img-slider-mob1@2x.webp 2x">
								<source type="image/webp" srcset="img/img-slider1@1x.webp 1x, img/img-slider1@2x.webp 2x">
								<img src="../img/img-slider1@1x.png" srcset="img/img-slider1@1x.png 1x, img/img-slider1@2x.png 2x" width="465" height="453" alt="Фото врача" class="our-doctors__img-big">
							</picture>
						</div>
				</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
