{% block content %}
  <section class="trusts">
    <div class="trusts__wrap">
      <h2><span>Нам доверяют</span><br> лечение зубов уже 7 лет</h2>
      <ul class="trusts__list">
        <li class="trusts__item trusts__item&#45;&#45;because">
          <h3>потому что:</h3>
          <p>Наши врачи работают на <span class="trusts__equipment">дорогостоящем оборудовании.</span> Это повышает качество работы более чем<br> в 20 раз.</p>
        </li>
        <li class="trusts__item trusts__item&#45;&#45;because-of">
          <h3>из-за того, что:</h3>
          <p><span class="trusts__price">У нас фиксированные цены.</span><br> В нашей клинике<br> невозможно такое,<br> что один пациент<br> лечится на одну сумму,<br> а второй на другую при
            одинаковых видах услуг.</p>
        </li>
        <li class="trusts__item trusts__item&#45;&#45;and">
          <h3>а также:</h3>
          <p>Потому что у нас есть <span class="trusts__centre">собственный учебный центр.</span> Мы повышаем квалификацию своих специалистов, приглашая известных профессоров<br> и профессионалов
            стоматологии.</p>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
