.main-content--none {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .main-content {
    background-image: url("../img/line-main.svg");
    background-repeat: no-repeat;
    background-position: 0 1861px;
  }
}
