@font-face {
  font-family: "Muller";
  src: local("mullerregular"), url("../fonts/mullerregular.woff2") format("woff2"), local("mullerregular"), url("../fonts/mullerregular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("mullerbold"), url("../fonts/mullerbold.woff2") format("woff2"), local("mullerbold"), url("../fonts/mullerbold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
